
ChessML/Dataset/
.env
ChessML/archive/data.csv
*.v2
/ChessML/lightning_logs/chessml
ChessML/checkpoints/M3_batch_size-1024-layer_count-6.ckpt
ChessML/checkpoints/V3batch_size-1024-layer_count-6.ckpt
